body {
    -webkit-font-smoothing: antialiased;
    background-color: #f3f3f3;
    box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
}

* {
    box-sizing: border-box;
}

.global-wrapper {
    margin-top: 70px;
    width: 100%;
}

#header-wrapper {
    background-color: white;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
    height: 70px;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 5;
}

#header-wrapper .container {
    height: 100%;
}

#header-wrapper .col {
    text-align: center;
}

#header-logo {
    top: 30px;
    margin: auto;
}

#header-logo img {
    background-color: white;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
    max-height: 120px;
}

#header-wrapper .link {
    color: black;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 2px;
    position: relative;
    text-decoration: none;
}

#header-wrapper .col {
    align-self: center;
}

#header-wrapper .mobile {
    display: none;
}

#menu-button {
    cursor: pointer;
    z-index: 10;
}


#menu-mobile {
    background-color: white;
    bottom: 0;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
    height: 100%;
    padding: 50px 10px 10px 10px;
    position: fixed;
    right: -100%;
    text-align: right;
    top: 0;
    transition-duration: 100ms;
    width: 180px;
}

#menu-mobile .link {
    display: block;
    margin: 10px 0 10px 0;
    width: 100%;
}

#menu-mobile.open {
    right: 0%;
}




#footer-wrapper {
    position: relative;
}

#footer-wrapper .section {
    flex-grow: 1;
    width: 400px;
}

#footer-wrapper .link {
    color: #444;
    display: block;
    display: flex;
    font-size: 14px;
    font-weight: 500;
    justify-content: center;
    margin-bottom: 10px;
    text-decoration: none;
}

#call-us {
    flex-direction: column;
    text-align: center;
}

#call-us h4 {
    color: black;
    font-size: 16px;
    margin: 5px;
}

#call-us .phone {
    color: black;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}




/* start - header responsive */

@media all and (max-width: 1024px) {
    #header-wrapper .desktop {
        display: none;
    }

    #header-wrapper .mobile {
        display: flex;
    }

    #header-wrapper .col:first-child {
        text-align: left;
    }

    #header-wrapper .col:last-child {
        text-align: right;
    }
}

@media all and (max-width: 480px) {
    #footer-wrapper .container {
        display: block;
    }

    #footer-wrapper .section {
        width: 100%;
    }
}

/* end - header responsive */







#pagination {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    padding-top: 30px;
    position: relative;
    width: 100%;
}

#pagination .item {
    background-color: black;
    color: white;
    display: flex;
    font-size: 16px;
    font-weight: bold;
    justify-content: center;
    margin: 1px;
    padding: 10px 15px 10px 15px;
    text-decoration: none;
    transition-duration: 100ms;
    border: 1px solid white;
    user-select: none;
    -webkit-user-select: none;
}

#pagination .item:hover, #pagination .item.current {
    background-color: white;
    border: 1px solid black;
    color: black;
}

#pagination .item.current {
    cursor: inherit;
}








#banner-inverted {
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
}

#banner-inverted .left {
    background-color: #444;
    padding: 50px 400px 50px 40px;
}

#banner-inverted .right {
    position: absolute;
    align-self: center;
    right: 40px;
}

#banner-inverted h2 {
    font-weight: 500;
    color: white;
}

#banner-inverted .content {
    color: white;
}

#banner-inverted .call-to-action {
    background-color: white;
    border: 1px solid white;
    color: black;
    display: block;
    font-size: 16px;
    font-weight: 500;
    margin: auto;
    margin-top: 30px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    text-transform: uppercase;
    transition-duration: 100ms;
    width: 200px;
}
#banner-inverted .call-to-action:hover {
    border: 1px solid white;
    background-color: #444;
    color: white;
}








.more-button {
    background-color: black;
    border: 1px solid black;
    color: white;
    display: block;
    font-size: 16px;
    font-weight: 500;
    margin: auto;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition-duration: 100ms;
    width: 200px;
}

.more-button:hover {
    background-color: white;
    color: black;
}


#over-wrapper {
    background-color: white;
    margin: auto;
    padding: 10px;
    position: relative;
    top: -50px;
    width: 100%;
}

h1 {
    font-size: 26px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 20px;
}


.container {
    display: flex;
    margin: auto;
    max-width: 1280px;
    padding: 10px;
    width: 100%;
}

.container-normal {
    margin: auto;
    max-width: 1280px;
    padding: 10px;
    width: 100%;
}

.container-fluid {
    display: flex;
    margin: auto;
    padding: 10px;
    width: 100%;
}

.col {
    flex-grow: 1;
    width: 100%;
}

.no-padding {
    padding: 0 !important;
}


/* Small devices (landscape phones, less than 768px) */
@media all and (max-width: 1280px) {
    #over-wrapper {
        background-color: white;
        margin: auto;
        padding: 10px;
        position: relative;
        top: -50px;
        width: calc(100% - 20px);
    }
}

@media all and (max-width: 720px) {
    #banner .left, #banner-inverted .right {
        display: none;
    }

    #banner .right, #banner-inverted .left {
        padding: 50px 40px 50px 40px;
    }
}
